<h2 mat-dialog-title>Add new screen</h2>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>

      <input type="text" required matInput formControlName="name" />

      @if (formGroup.get('name')?.errors?.['required']) {
        <mat-error>Please enter a name</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button (click)="cancel()">Cancel</button>
  <button mat-flat-button (click)="ok()" [disabled]="formGroup.invalid">OK</button>
</mat-dialog-actions>
