:host {
  ::ng-deep {
    $padding: 16px;

    .mat-sidenav {
      padding-left: $padding;
    }

    .mat-sidenav-content {
      padding: $padding;
    }

    .mat-mdc-nav-list {
      width: calc(100% - 16px);

      .mat-badge {
        .mat-ripple-element {
          display: none;
        }
      }
    }

    .mdc-list-item:hover::before {
      border-radius: var(--mat-list-active-indicator-shape);
    }
  }
}
