<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Ultraplex Dashboard</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      @for (link of links; track link) {
        <a
          [routerLink]="link.path"
          #routerLink="routerLinkActive"
          routerLinkActive

          mat-list-item
          [activated]="routerLink.isActive"

          matBadge="{{totalElements[link.key]}}"
          matBadgePosition="after"
        >
          {{link.text}}
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
